ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
}
li {
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width:800px) { 
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    ul {
        justify-content: center;
        margin:auto;
        padding:0px;
    }
   

}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-right: 2rem;
}
a {
    text-decoration: none;
    color:black
}
a:hover {
    border-bottom: 0.1rem black solid;

}
.herosection{
    background-color: #495e57;
    font-family: carla;
    display: flex;
    justify-content:center;
    padding-top: 7%;
   
}

.hero-text {
    width: 30%;
    margin-right:5%;
    margin-left:3%;
    padding-bottom: 3%;
}
.hero-text h1 {
    color: #e9c511;
}
.hero-text h3, p {
    color: white;
}
.hero-text h1,h3 {
    margin: 0px;
}
.special-topbar button, .hero-text button {
    padding:2% 3%;
    background-color: #e9c511;
    box-shadow: none;
    border: none;
    border-radius: 7px;
    margin:0px, 10%;
    font-weight: bold;
}
.hero-pic  {
    width: 30%;
    object-fit: cover;
    max-width: 100%;
    margin-left:5%;
    margin-right:5%;
    border-radius: 16px;
    margin-bottom: -5%;

}

h1 {
    font-size: 3rem;
}
@media screen and (max-width:675px) {
    .hero-text{
        width:90%;
       
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text button {
        margin:0 auto;
        display: block;
    }
    
    .hero-pic {
      margin: auto;
      width: 100%;
      height: 350px;
    border-radius: 0px;
        
      
       
        
    }
    .herosection{
        display: flex;
        flex-direction: column;
       width: 100%;
       text-align: center;
       justify-content: center;
       
    }
}
.special-topbar {
    display: flex;
    width: 60%;
    margin: 10% auto;
    justify-content: space-between;
}
